<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Users</a></li>
        <li><a href="/product">Products</a></li>
      </ul>
    </nav>
  </header>

  <%- body %>

    <footer>
      <p>Made by Gabriel Silva</p>
    </footer>
</body>

</html>