<%- contentFor('body') %>
  <h2>Editar Registro de Produto</h2>
  <% data.forEach(function(details) { %>
    <form action="/product/edit/<%= details._id %>" method="POST">
      <input type="text" value="<%= details.name %>" name="name">
      <input type="text" value="<%= details.price %>" name="price">
      <br />
      <button><a href="/product/show">Todos</a></button>
      <button type="submit">Editar</button>
    </form>
    <% }) %>